* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #f5f5f5;
}

.container__header__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #f5f5f5;
}

.header__title {
    font-size: 2rem;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}

.container__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.teacher__login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    background-color: #000;
    border-radius: 10px;
}

.student__login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    background-color: #000;
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #f5f5f5;
}

.footer__text {
    font-size: 1rem;
    font-weight: 600;
    color: #000;
}  